<style>
    .jumbotron a { padding: 5px 10px; margin: 10px 5px;}
</style>

<div class="jumbotron">
    <a href="/test-one?lang=en" class="btn btn-success btn-lg">Test task #1 (ENG)</a>
    <a href="/test-one?lang=ru" class="btn btn-success btn-lg">Test task #1 (RUS)</a>
    <br>
    <a href="/test-two" class="btn btn-success btn-lg">Test task #2</a>
</div>
