<?php

/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
?>

<div>
    <h3>Source string:</h3>
    <code><?= $str ?></code>

    <h3>Split result:</h3>
    <?php if ($words): ?>
        <code>
        <?php foreach ($words as $word): ?>
            <?= $word ?><br>
        <?php endforeach; ?>
        </code>
    <?php else: ?>
          (No result)
    <?php endif; ?>
</div>
